* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: Consolas, "Lucida Console", monospace;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: auto; */
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    color: white;
    background-color: rgb(40, 40, 40);
}

.main {
    grid-column: 2/3;
    max-width: 100%;
    display: block;
}


p#greeting {
    font-size: 8rem;
    color: rgb(51, 255, 0);
}

.nav-links {
    margin-top: 1.5rem;
}

a, a:visited {
    color: rgb(0, 255, 102);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    display: inline;
    list-style-type: none;
}

#cursor {
    animation: blink 1.75s infinite reverse;
}

@keyframes blink {
    0% {
        background-color: rgb(40, 40, 40)
    }

    49% {
        background-color: rgb(40, 40, 40)
    }

    50% {
        background-color: rgb(51, 255, 0)
    }

    100% {
        background-color: rgb(51, 255, 0)
    }


}
#aboutme-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}

.bio {
    grid-column: 1/2;
}

#pic {
    grid-column: 2/3;
}

h1 {
    margin: 1rem auto;
    padding: 0;
}



#skills {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

#skills > div {
margin: 0 1.5rem 1.5rem 0;
}

p {
    text-align: justify;
    padding: .5rem;
}

#portfolio-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    text-align: center;
    gap: 1rem;
}

.portfolio-badge {
    border: solid rgb(209, 255, 190) 10px;
    max-width: 400px;
    margin: 0 auto;
}

.portfolio-image {
    aspect-ratio: 6/4;
}

#recipeople-img {
    background: url(/assets/recipe01.png)
}

#recipeople-img:hover {
    background: url(/assets/recipe02.png)
}

#study-buddy-img {
    background: url(/assets/sb01.png)
}

#study-buddy-img:hover {
    background: url(/assets/sb02.png)
}

#ulti-img {
    background: url(/assets/ulti01.png)
}

#ulti-img:hover {
    background: url(/assets/ulti02.png)
}
